.home .menu-container{
    min-width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(250px, 250px, 1fr));
    padding: 20px;
    background-color: var(--sidebar-color);
    border-radius: 10px;
    border: 2px solid var(--primary-color-light);
    box-shadow: 0px 10px 15px -10;
}

.home .menu-container .title-text{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: var(--primary-color);
    margin: 10px 0;
}

.home .menu-container .srab-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.home .menu-container .search-container{
    padding: 10px;
    max-width: 60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .menu-container .search-container input{
    width: 25rem;
    height: 2.5rem;
    padding-left: 10px;
    border-radius: 10px;
    font-size:  14px;
    font-weight: 500;
    color: var(--text-color);
    border: 1px solid var(--toggle-color);
    background: var(--primary-color-light);
}

.home .menu-container .button{
    background: var(--btn-background);
    width: 5rem;
    height: 2.4rem;
    font-size: large;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: var(--btn-text-color);
    box-shadow: 0px 10px 15px -20px;
    transition: var(--tran-04);
}

.home .menu-container .button:hover{
    transition:  var(--tran-02);
    transform: scale(1.05);
}

.home .menu-container .search-container .btn-search{
    position: relative;
    right: 18%;

}

.home .menu-container .srab-container .add-btn{
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.home .menu-container .srab-container .add-btn .butn-add{
    min-width: 200px;
}

.home .menu-container #newCategory{
    display: none;
}

.home .menu-container #newCategory form,
.home .edit-catForm{
    width: 400px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--sidebar-color);
    border-radius: 10px;
    border: 2px solid var(--primary-color-light);
    box-shadow: 0px 10px 15px -5px;
    position: relative;
    left: 500px;
    gap: 10px;
    z-index: 1;
    margin-bottom: 30px;
}


.home .menu-container #newCategory .text-title,
.edit-catForm .text-title{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}


.home .menu-container #newCategory .input-field,
.edit-catForm .input-field{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
}

.home .menu-container #newCategory .input-field label,
.edit-catForm .input-field label{
    font-size: 17px;
    font-weight: 500;
    display: flex;
    padding-left: 20px;
    color: var(--title-color);
}

.home .menu-container #newCategory .input-field input,
.edit-catForm .input-field input{
    outline: none;
    position: relative;
    height: 40px;
    padding-left: 20px;
    padding-top: 5px;
    border: none;
    font-size: 16px;
    background: var(--body);
    color: var(--text-color);
    border-bottom: 1px solid;
}

.home .menu-container #newCategory .input-field .selectImg,
.edit-catForm .input-field .selectImg{
    width: 150px;
    cursor: pointer;
    border: 1px solid var(--primary-color-light);
    border-radius: 5px;
    text-align: center;
    color: black;
    background-color: #accbff;
}

.home .menu-container #newCategory .input-field img,
.edit-catForm .input-field img{
    width: 180px;
    height: 180px;
    margin: 20px auto;
    border-radius: 50%;
}

.home .menu-container #newCategory #imageAlert,
.home .menu-container #newCategory #mssgAlert{
    display: none;
}

.home .menu-container #newCategory #imageAlert,
.home .menu-container #newCategory #mssgAlert{
    height: min-content;
    font-weight:  500;
    color: red;
}

.home .menu-container #newCategory .cancel-btn,
.edit-catForm .buttons .cancel-btn{
    background: var(--danger);
}

.edit-catForm .buttons{
    display: flex;
    justify-content: space-around;
}

/* ============= Table ============= */
.home table{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.home table th, td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid var(--primary-color-light);
}

.home table thead{
    color: var(--title-color);
}

.home table tbody tr td{
    color: var(--text-color);
    font-size: large;
    font-weight: 500;
}

.home table tbody tr:hover{
    background-color: rgba(75, 96, 148, 0.1);
    transition: var(--tran-03);
}

.home table tbody .bttn{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--body);
    font-size: large;
    font-weight: 500;
}

.home table tbody #edit-btn{
    color: var(--progress);
}

.home table tbody #delete-btn{
    color: var(--danger);
}

.home table tbody #viewItem{
    cursor: pointer;
    color: var(--progress);
    text-decoration: none;
}

